@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: rgb(69, 211, 211);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --neutral-dark: hsl(234, 12%, 34%);
  --neutral-medium: rgb(163, 165, 174);
  --neutral-light: hsl(0, 0%, 98%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


/* Four card feature section */

/* Weights: 200, 400, 600 */
body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 200;
  color: var(--neutral-medium);
  background: var(--neutral-light);
  height: 100vh;
  margin: 0;
}

/* Title */
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 33.3vh;
  text-align: center;
}

.title h1 {
  font-weight: 200;
  margin-bottom: 0.5em;
  font-size: 2.4rem;
}

.title h1 span {
  color: var(--neutral-dark);
  font-weight: 600;
}

.title p {
  font-size: 1.1em;
  max-width: 100%;
  width: 600px;
}

/* Cards */
.cards {
  max-width: 1250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
  gap: 35px;
}

.single-card {
  position: relative;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  /* margin: 1em; */
  padding: 2em;
  width: 375px;
  height: 245px;
  box-shadow: 0 10px 20px 10px rgba(163, 165, 174, 0.3);
}

.card-1 {
  grid-column: 1;
  grid-row: 1 / 3;
  border-top: 5px solid var(--cyan);
}

.card-2 {
  border-top: 5px solid var(--red);
}

.card-3 {
  border-top: 5px solid var(--orange);
}

.card-4 {
  grid-column: 3;
  grid-row: 1 / 3;
  border-top: 5px solid var(--blue);
}

.single-card__title {
  color: var(--neutral-dark);
  margin-bottom: 10px;
  font-size: 1.2em;
}

.single-card__image {
  position: absolute;
  right: 2em;
  bottom: 2em;
}

footer {
  display: flex;
  align-content: center;
  justify-content: center;
}

footer p {
  margin: 40px;
  text-align: center;
}

footer a {
 color: var(--cyan);
}

footer a:hover {
  color: var(--orange);
}

@media screen and (max-width: 1300px) {
  .title {
    margin: 0 auto;
  }

  .title h1 {
    font-size: 24px;
  }

  .title p {
    font-size: 15px;
    padding: 0 2rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .cards .single-card:last-child {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 450px) {
  .single-card {
    width: 320px;
  }
}
